<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mongoose Dashboard</title>
</head>
<body>
    <h1>Insert a New Animal into the <em>animals</em> MongoDB</h1>

    <form action="/mongooses" method="post">
        <p><label for="name">Animal Name: </label><input type="text" name="name"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>

    <p><a href="/">Go Home</a></p>
</body>
</html>